<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"/>
    <title>Abilities</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="../../static/script.js" th:src="@{/script.js}"></script>

</head>
<body class="p-3 m-0 border-0 bd-example bd-example-row bg-secondary"
      style="background-image: url('https://i.imgur.com/jFLCgvD.jpg');">

<div class="container text-center bg-black bg-opacity-50">

    <div class="row">
        <div class="col bg-transparent">
            <h1 class="text-light">Abilities</h1>
        </div>
    </div>

    <div class="row">

        <div id="homeColumn1" class="col bg-transparent">

            <div class="card bg-transparent">
                <div class="card-body">
                    <img src="https://i.imgur.com/o9mB1K3.jpg" class="card-img-top img-thumbnail" alt="...">
                </div>
            </div>

            <br>

            <a th:href="@{/showUpdatePlayerForm/{id}(id=${player.id})}"
               class="btn btn-secondary">Back</a>

            <br>
            <br>

            <div class="card text-light bg-transparent">
                <div class="card-body">
                    Character Name
                    <h5 class="card-title" th:text="*{player.name}"></h5>
                </div>
            </div>

        </div>


        <div id="homeColumn2" class="col-6 bg-transparent">
            <div class="card text-light bg-transparent">

                <div class="card-body">
                    <h5 class="card-title">Point Assignment</h5>
                    <p class="card-text">Assign Points to your
                        character.</p>
                </div>

            </div>

            <div class="card text-light bg-transparent">

                <div class="card-body">
                    <hr class="hr hr-blurry"/>
                    <h5 class="card-title">Points Remaining</h5>

                    <div>
                        <h2 id="abilityPoints"></h2>
                    </div>
                    <hr class="hr hr-blurry"/>


                    <form id="abilitiesForm" action="" th:action="@{/saveAbilities}" th:object="${player}"
                          method="POST">
                        <input type="hidden" th:field="*{id}"/>
                        <input type="hidden" th:field="*{name}"/>
                        <input type="hidden" th:field="*{health}"/>
                        <input type="hidden" th:field="*{defense}"/>
                        <input type="hidden" th:field="*{speed}"/>

                        <label for="accuracy">Accuracy</label>
                        <div>
                            <input th:field="*{accuracy}" id="accuracy" type="number"/>
                            <button onclick="decrease(event, 'accuracy')" type="button"><--</button>
                            <button onclick="increase(event, 'accuracy')" type="button">--></button>
                        </div>
                        <br>
                        <label for="communication">Communication</label>
                        <div>
                            <input th:field="*{communication}" id="communication" type="number"/>
                            <button onclick="decrease(event, 'communication')" type="button"><--</button>
                            <button onclick="increase(event, 'communication')" type="button">--></button>
                        </div>
                        <br>
                        <label for="constitution">Constitution</label>
                        <div>
                            <input th:field="*{constitution}" id="constitution" type="number"/>
                            <button onclick="decrease(event, 'constitution')" type="button"><--</button>
                            <button onclick="increase(event, 'constitution')" type="button">--></button>
                        </div>
                        <br>
                        <label for="dexterity">Dexterity</label>
                        <div>
                            <input th:field="*{dexterity}" id="dexterity" type="number"/>
                            <button onclick="decrease(event, 'dexterity')" type="button"><--</button>
                            <button onclick="increase(event, 'dexterity')" type="button">--></button>
                        </div>
                        <br>
                        <label for="fighting">Fighting</label>
                        <div>
                            <input th:field="*{fighting}" id="fighting" type="number"/>
                            <button onclick="decrease(event, 'fighting')" type="button"><--</button>
                            <button onclick="increase(event, 'fighting')" type="button">--></button>
                        </div>
                        <br>
                        <label for="intelligence">Intelligence</label>
                        <div>
                            <input th:field="*{intelligence}" id="intelligence" type="number"/>
                            <button onclick="decrease(event, 'intelligence')" type="button"><--</button>
                            <button onclick="increase(event, 'intelligence')" type="button">--></button>
                        </div>
                        <br>
                        <label for="perception">Perception</label>
                        <div>
                            <input th:field="*{perception}" id="perception" type="number"/>
                            <button onclick="decrease(event, 'perception')" type="button"><--</button>
                            <button onclick="increase(event, 'perception')" type="button">--></button>
                        </div>
                        <br>
                        <label for="strength">Strength</label>
                        <div>
                            <input th:field="*{strength}" id="strength" type="number"/>
                            <button onclick="decrease(event, 'strength')" type="button"><--</button>
                            <button onclick="increase(event, 'strength')" type="button">--></button>
                        </div>
                        <br>
                        <label for="willpower">Willpower</label>
                        <div>
                            <input th:field="*{willpower}" id="willpower" type="number"/>
                            <button onclick="decrease(event, 'willpower')" type="button"><--</button>
                            <button onclick="increase(event, 'willpower')" type="button">--></button>
                        </div>

                    </form>

                </div>

            </div>

        </div>

        <div id="homeColumn3" class="col bg-transparent">

            <div class="card bg-transparent">
                <div class="card-body">
                    <img src="https://i.imgur.com/XA8AdHd.jpg" class="card-img-top img-thumbnail" alt="<No image>">
                </div>
            </div>

            <br>
            <button onclick="submit" form="abilitiesForm" class="btn btn-primary">Next ></button>
        </div>

    </div>

    <!--Would like to make these buttons opposite ends of each other-->
    <!--Need to add href after I figure out the order of the pages-->

    <div class="row">
        <div id="footer" class="col bg-transparent">
            <a th:href="@{/}">
                <button class="btn btn-secondary">Home</button>
            </a>
        </div>
    </div>

</div>

</body>
</html>