<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Abilities</title>
    <script src="../script.js" defer></script>
</head>
<body>
<h1>Abilities picker</h1>
<h3>Sequence Order:</h3>
<ol>
    <li>Abilities</li>
    <li>Ancestry</li>
    <li>Social Class and Background</li>
    <li>Class</li>
</ol>

<div>Ability Points: <input type="text" class="abilityPoints" value="13" /></div>
<br>
<div>Accuracy
    <button class="decrease">Decrease</button>
    <input type="text" class="number" value="0" />
    <button class="increase">Increase</button>
</div>

<div>Communication
    <button class="decrease1">Decrease</button>
    <input type="text" class="number1" value="0" />
    <button class="increase1">Increase</button>
</div>

</body>
</html>