<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../styles.css"/>
    <title>Ancestry Benefit</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/script.js" defer></script>
</head>
<body class="p-3 m-0 border-0 bd-example bd-example-row bg-secondary">

<div class="container text-center">

    <div class="row">
        <div class="col bg-secondary-subtle">
            <h1 class="text-dark">Step x: Ancestry Benefit</h1>
        </div>
    </div>

    <div class="row" th:object="${player}">

        <div id="homeColumn1" class="col bg-secondary-subtle">

            <div class="card">

                <div class="card-body">
                    Character Name
                    <h5 class="card-title" th:text="*{name}"></h5>
                    Class
                    <h6 class="card-text" th:text="*{ancestry}"></h6>

                </div>

            </div>

        </div>


        <div id="homeColumn2" class="col bg-secondary-subtle">

            <div class="card">


                <div class="card-body">
                    <p class="card-text">Placeholder for selection of
                        ancestry benefit table (11 checkboxes, must be 2 selections
                        with dice roll info)</p>
                </div>

            </div>

        </div>
    </div>

    <!--Would like to make these buttons opposite ends of each other-->
    <!--Need to add href after I figure out the order of the pages-->

    <div class="row">
        <div id="footer" class="col bg-secondary-subtle">
            <button onclick="" class="btn btn-secondary">Back</button>
            <!--Add a page numbers: "2 of 7" -->
            <!--"Next" button should be disabled until conditions met-->
            <button onclick="" class="btn btn-secondary">Next</button>
        </div>
    </div>

</div>
</div>


</body>
</html>