<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">

    <title>Ancestry</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body class="p-3 m-0 border-0 bd-example bd-example-row bg-secondary"
      style="background-image: url('https://i.imgur.com/jFLCgvD.jpg');
        background-repeat: no-repeat; background-attachment: fixed;
        background-size: cover;">


<div class="container text-center bg-black bg-opacity-50">

    <div class="row">
        <div class="col bg-transparent">
            <h1 class="text-light">Ancestry</h1>
        </div>
    </div>


    <div class="row">

        <div id="homeColumn1" class="col bg-transparent">

            <div class="card bg-transparent">
                <img src="https://i.imgur.com/D7n0hsz.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">

                </div>
            </div>

            <br>

            <a th:href="@{/showAbilitiesForm/{id}(id=${player.id})}"
               class="btn btn-secondary">Back</a>

            <br>
            <br>

            <div class="card text-light bg-transparent">
                <div class="card-body">
                    Character Name
                    <h5 class="card-title" th:text="*{player.name}"></h5>
                    <hr class="hr hr-blurry"/>
                </div>
            </div>
        </div>


        <div id="homeColumn2" class="col-6 bg-transparent">
            <br>

            <div class="card text-light bg-transparent">
                <div class="card-body">
                    <h5 class="card-title">Choosing an Ancestry</h5>
                    <p class="card-text">You can choose from nine ancestries in Fantasy AGE: draak,
                        dwarf, elf, gnome, goblin, halfling, human, orc, and wildfolk.
                        In the default campaign world of Fantasy AGE all these ancestries are
                        generally seen as equal, though various nations may be
                        suspicious of foreigners of any ancestry, and specific groups and
                        individuals may have different prejudices. If your GM is using
                        a different campaign setting your choice may have important
                        implications, so check with your GM if you have any questions.</p>

                    <div class="accordion" id="ancestryAccordion">
                        <div class="accordion-item" th:each="ancestry : ${listAncestries}">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse"
                                        th:text="${ancestry.ancestryName}"
                                        th:data-bs-target="${'#' + ancestry.ancestryName}"
                                        aria-expanded="false" th:aria-controls="${ancestry.ancestryName}">
                                </button>
                            </h2>
                            <div th:id="${ancestry.ancestryName}" class="accordion-collapse collapse"
                                 data-bs-parent="#ancestryAccordion">
                                <div class="accordion-body" th:text="${ancestry.description}">

                                </div>
                                <form id="ancestryForm" action="#"
                                      th:action="@{/saveAncestry/{ancestry}(ancestry=${ancestry.id})}"
                                      th:object="${player}"
                                      method="POST">
                                    <input type="hidden" th:field="*{id}"/>
                                    <input type="hidden" th:field="*{name}"/>
                                    <input type="hidden" th:field="*{health}"/>
                                    <input type="hidden" th:field="*{defense}"/>
                                    <input type="hidden" th:field="*{speed}"/>
                                    <input type="hidden" th:field="*{accuracy}"/>
                                    <input type="hidden" th:field="*{communication}"/>
                                    <input type="hidden" th:field="*{constitution}"/>
                                    <input type="hidden" th:field="*{dexterity}"/>
                                    <input type="hidden" th:field="*{fighting}"/>
                                    <input type="hidden" th:field="*{intelligence}"/>
                                    <input type="hidden" th:field="*{perception}"/>
                                    <input type="hidden" th:field="*{strength}"/>
                                    <input type="hidden" th:field="*{willpower}"/>

                                    <input value="Select" type="submit" class="btn btn-primary col-2"/>
                                </form>
                                <br>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <div id="homeColumn3" class="col text-light bg-transparent">
            <div class="card bg-transparent">
                <img src="https://i.imgur.com/PZalg1D.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">

                </div>
            </div>
            <br>
            <br>


            <div class="card text-light bg-transparent">
                <div class="card-body">
                    <h5 class="card-title">Extras: Stunt System</h5>
                    <p class="card-text">The heart of the game is the stunt system, which allows
                        players to perform amazing feats of heroism. Stunts can be used to gain
                        an advantage in combat, solve puzzles, or overcome obstacles. They can
                        also be used to roleplay dramatic moments, such as leaping from a burning
                        building or defeating a fearsome enemy.</p>
                </div>
            </div>

        </div>

    </div>

    <div class="row justify-content-evenly">
        <div id="footer" class="col text-light bg-transparent">


            <a th:href="@{/}"> <button class="btn btn-secondary">Home</button></a>

        </div>
    </div>

</div>


</body>
</html>