<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../styles.css"/>
    <title>Ancestry</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/script.js" defer></script>
</head>
<body class="p-3 m-0 border-0 bd-example bd-example-row bg-secondary">


<div class="container text-center">

    <div class="row">
        <div class="col bg-secondary-subtle">
            <h1 class="text-dark">Step 2: Ancestry</h1>
        </div>
    </div>

    <form id="ancestryForm" action="#" th:action="@{/saveAncestry}" th:object="${player}"
          method="POST">
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{accuracy}" />
        <input type="hidden" th:field="*{communication}" />
        <input type="hidden" th:field="*{constitution}" />
        <input type="hidden" th:field="*{dexterity}" />
        <input type="hidden" th:field="*{fighting}" />
        <input type="hidden" th:field="*{intelligence}" />
        <input type="hidden" th:field="*{perception}" />
        <input type="hidden" th:field="*{strength}" />
        <input type="hidden" th:field="*{willpower}" />
    <div class="row">


            <div id="homeColumn1" class="col bg-secondary-subtle">

                <div class="card">
                    <div class="card-body">
                        Character Name
                        <h5 class="card-title" th:text="*{name}"></h5>
                    </div>

                </div>


            </div>


            <div id="homeColumn2" class="col-6 bg-secondary-subtle">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Choose an Ancestry</h5>

                        <div class="accordion" id="ancestryAccordion">
                                <div class="accordion-item" th:each="ancestry : ${listAncestries}">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse"
                                                th:text="${ancestry.ancestryName}"
                                                th:data-bs-target="${'#' + ancestry.ancestryName}"
                                                aria-expanded="false" th:aria-controls="${ancestry.ancestryName}">
                                        </button>
                                    </h2>
                                    <div th:id="${ancestry.ancestryName}" class="accordion-collapse collapse"
                                         data-bs-parent="#ancestryAccordion">
                                        <div class="accordion-body" th:text="${ancestry.description}">
                                        </div>

                                        <a th:href="@{/saveAncestry/{ancestry}(ancestry=${ancestry.ancestryName})}"
                                           class="btn btn-primary">Select</a>


                                    </div>
                                </div>


                        </div>

                    </div>
                </div>


            </div>

            <div id="homeColumn3" class="col bg-secondary-subtle">


            </div>

    </div>
    </form>

    <!--Would like to make these buttons opposite ends of each other-->
    <!--Need to add href after I figure out the order of the pages-->

    <div class="row justify-content-evenly">
        <div id="footer" class="col bg-secondary-subtle">


            <button onclick="" class="btn btn-secondary">Back</button>
            <!--Add a page numbers: "2 of 7" -->
            <button class="btn btn-secondary">Next</button>
        </div>
    </div>

</div>


</body>
</html>